<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
   <a class="navbar-brand" routerLink="/">
      <strong>MEAN</strong> Blog
   </a>
   <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/signin" class="nav-link">Iniciar Sesión</a>
         </li>
         <li class="nav-item">
            <a routerLink="/signup" class="nav-link">Registrarse</a>
         </li>
      </ul>
   </div>
</nav>